{% extends 'siteadmin_base.html' %}
{% block content %}
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-6">
                <div id="edit-course" class="tab-pane">
                    <section class="panel">                                          
                        <div class="panel-body bio-graph-info">
                            <h1> Course Info</h1>
                            <form class="form-horizontal" role="form" action="/siteadmin/course/edit/" method="POST">{% csrf_token %}                             
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Course Category</label>
                                    <div class="col-lg-6">
                                        <select class="form-control" name="course_category">
                                            <option value="{{course.category.pk}}">{{course.category}}</option>
                                            {% for category in course_categories %}
                                                {% ifnotequal category.title course.category.title %}
                                                     <option value="{{category.pk}}">{{category.title}}</option>
                                                {% endifnotequal %}
                                            {% endfor %}    
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Course Code</label>
                                    <div class="col-lg-6">
                                        <input type="text" name="course_code" class="form-control" id="course_code" placeholder=" " value="{{course.code}}" required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Course Name</label>
                                    <div class="col-lg-10">
                                        <input type="text" name="course_name" class="form-control" id="course_name" placeholder=" " value="{{course.name}}" required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Course Duration</label>
                                    <div class="col-lg-6">
                                        <select class="form-control" name="course_duration">
                                            <option value="{{course.duration.pk}}">{{course.duration}}</option>
                                            {% for duration in course_duration %}
                                                {% ifnotequal duration.duration course.duration.duration %}
                                                     <option value="{{duration.pk}}">{{duration.duration}}</option>
                                                {% endifnotequal %}
                                            {% endfor %}
                                        </select>    
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Course Description</label>
                                    <div class="col-lg-10">
                                        <textarea name="description" class="form-control"></textarea>                                    
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                  </div>
                                </div>
                                <input type="hidden" name="course" value="{{course.pk}}">
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}