{% extends 'base.html' %}

{% block content %}

<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">ABOUT US</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb text-center">
                            <li><a href="index.html">Home</a></li>
                            <li>ABOUT US</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--About Page Area Start-->
<div class="about-page-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>Smartindia Mission</h3>
                        <p>A Division of Bharat Sevak Samaj, National Development Agency, Promoted by Govt.of India</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="about-text-container">
                    <p align="justify">Our world is a home of 1.8 billion young people between the age group of 10-24 year at present. The youth population is growing faster in lower income nations. The skills and knowledge, young people acquire must be relevant, to the current economy and enable them to become innovators, thinkers and problem solvers.<br>
                    Adipiscing signiferumque vix et. No alii docendi usu, pri graeco possim percipit ne.</p>
                    <p align="justify">Skilling Indian youth, the dream of Hon’ble Prime Minister is in its path of fruition through a huge national infrastructure headed by skill development. The success of a nation always depend on the success of youth and skill India initiative is to bring in a vast change in the coming years. The vision of skilling India with a target of skilling 500 million youth is a vision and passion for our Prime Minister. An empowered youth can be the greatest wealth and strength of any country. In the present scenario, when several major economies of the world are struggling to increase their youth population, India is harvesting its rich demographic dividend. India's present youth population is around 35.6 crore. Among this, 70% of the population lives in rural areas.</p>
                </div> 
            </div>    
            <div class="col-md-6">
                <div class="skill-image">
                    <img src="/static/img/image_mission.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="about-text-container">
                    <p align="justify">
                    Education refers to the systematic process of gaining knowledge and skills through study and instructions. The role of education in facilitating social and economic progress has long being recognized. It improves functional and analytical ability and thereby opens up opportunities for individuals and also groups to achieve greater access to labor markets and livelihoods. Education is not only an instrument of enhancing efficiency but is also an effective tool of widening and augmenting democratic participation and upgrading the overall quality of individual and societal life. In India, the emphasis has been on general education, with vocational education at the receiving end, which has resulted in a large number of educated people remaining unemployed.    
                    </p>
                    <p align="justify">
                    Skills and knowledge are the engines of economic and social development of any country. India is in transition to a knowledge based economy and its competitive edge will be determined by the abilities of its people to create, share and use knowledge more effectively. The transition will require India to develop workers into knowledge workers who will be more flexible, analytical, and adaptable and multi skilled. To achieve these goals India need flexible education and training system that will provide the foundation for learning secondary and tertiary education and to develop required competencies.     
                    </p>
                    <p align="justify">
                    Under various articles of the Indian Constitution, free and compulsory education is provided as a fundamental right to children between the ages of 6 and 14. With this, India has made progress in terms of increasing the primary education attendance rate and expanding literacy to approximately three-quarters of the population in the 7–10 age groups, by 2011. While enrolment in higher education has increased steadily over the past decade, reaching a Gross Enrolment Ratio of 24% in 2013, there still remains a significant distance to catch up with tertiary education enrolment levels of developed nations, a challenge that will be necessary to overcome in order to continue to reap a demographic dividend from India's comparatively young population.
                    </p>    
                </div>
            </div>
        </div> 
    </div>
</div>
<!--End of About Page Area-->
                
{% endblock %}                