<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="hKXgVF_Qu5cqrlOf125z9I_6tjqhuhWE7EJS5kYAeY4" />

    <title>Smartindia Mission - A Division of Bharat Sevak Samaj</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
</head>

<body style="font-family: 'Oxygen', sans-serif;">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><strong style="font-size: 25px;">Smartindia Mission</strong></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="http://www.bharatsevaksamaj.org" target="_blank"><strong>BSS</strong></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong>Courses <b class="caret"></b></strong></a>
                        <ul class="dropdown-menu">
                            {% for category in course_categories %}
                            <li>
                                <a href="/course/list/{{category.pk}}/">{{category.title}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong>Downloads <b class="caret"></b></strong></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="https://s3.amazonaws.com/smartindiacdn/Smartindia Mission_prospectus_web_new.pdf" target="_blank">Prospectus</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/contact/"><strong>Contact</strong></a>
                    </li>
                    <!--
                    <li> 
                        <a href="/register/ " class="btn btn-info"><strong>Register</strong></a>
                    </li>
                    <li>
                        <a href="/login/" class="btn btn-warning"><strong>Login</strong></a>
                    </li>
                    -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    
    {% block content %} 
          
    {% endblock %}
  
 
    <!-- /.container -->
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-inverse" role="navigation">
        			<div class="container">
                        <div class="col-lg-3">
           				<!-- Collect the nav links, forms, and other content for toggling -->
            			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               				<ul class="nav navbar-nav navbar-right">
                    			<li>
                        			<a href="about.html"><strong>Copyright © smartindiamission.org 2017</strong></a>
                    			</li>
             				</ul>
            			</div>
                        </div>
                        <div class="col-lg-3">
                            
                        </div>
                        <div class="col-lg-6">
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="/about/">About Us</a>
                                </li>
                                <li>
                                    <a href="/objectives/">Objectives</a>
                                </li>
                                <li>
                                    <a href="/workplan/">Work Plan</a>
                                </li>
                                <li>
                                    <a href="#">Terms</a>
                                </li>
                                <li>
                                    <a href="/contact/">Contact</a>
                                </li>
                            </ul>
                        </div>
            		</div>
    			</nav>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
