{% extends 'base.html' %}

{% block content %}
<!--Contact Form Area Start-->
<div class="contact-form-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4 class="contact-title">contact info</h4>
                <div class="contact-text">
                    <p><span class="c-icon"><i class="zmdi zmdi-phone"></i></span><span class="c-text">0471 2338841, 2338840</span></p>
                    <p><span class="c-icon"><i class="zmdi zmdi-email"></i></span><span class="c-text">info@smartindiamission.org</span></p>
                    <p><span class="c-icon"><i class="zmdi zmdi-pin"></i></span><span class="c-text">Smartindia Mission, Opposite Police Ground<br>
                    Thycaud PO, Thiruvananthapuram - 14</span></p>
                </div>
                <h4 class="contact-title">social media</h4>
                <div class="link-social">
                    <a href="https://www.facebook.com/smartindiamission/" target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="https://twitter.com/smartindmission" target="_blank"><i class="zmdi zmdi-twitter"></i></a>
                    <a href="https://www.linkedin.com/company-beta/13348689" target="_blank"><i class="zmdi zmdi-linkedin"></i></a>
                </div>
            </div>
            <div class="col-md-7">
                <h4 class="contact-title">send your massage</h4>
                <form id="contactForm">{% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" name="name" placeholder="Name" id="name" required>
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="contact_no" placeholder="Contact No" id="contact_no" required>
                        </div>
                        <div class="col-md-12">
                            <input type="email" name="email" placeholder="Email" id="email" required>
                        </div>
                        <div class="col-md-12">
                            <textarea name="message" cols="30" rows="10" placeholder="Message" id="message" required></textarea>
                            <button type="submit" class="button-default">SUBMIT</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--End of Contact Form-->
<!--Google Map Area Start-->
<div class="google-map-area">
    <!--  Map Section -->
    <div id="contacts" class="map-area">
        <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?q=8.496588,76.95841&amp;num=1&amp;vpsrc=6&amp;sll=8.49637,76.957592&amp;sspn=0.022071,0.032015&amp;ie=UTF8&amp;t=m&amp;z=14&amp;ll=8.496415,76.958824&amp;output=embed"></iframe>
    </div>
</div>
<!--End of Google Map Area-->
                
{% endblock %}                

{% block custom_js %}

<script type="text/javascript">
    $('#contactForm').submit(function(e){
        e.preventDefault();
        var form = $(this);
        $.ajax({
            url: '/contact/message/',
            type: 'POST',
            data: form.serializeArray(),
        })
        .done(function(data){
            $('#name').val('');
            $('#contact_no').val('');
            $('#email').val('');
            $('#message').val('');
            if (data.status == false){
                new PNotify({
                    title: 'Not Send!',
                    text: data.message,
                    type: 'danger',
                    styling: 'bootstrap3'
                });
            }
            else{
                new PNotify({
                    title: 'Success',
                    text: data.message,
                    type: 'success',
                    styling: 'bootstrap3'
                });
            }
        })
    });
</script>

{% endblock %}