{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <br><br>
             <div class="list-group">
                    <a href="" class="list-group-item active">Course Categories</a>
                    {% for category in course_categories %}
                        <a href="/course/list/{{category.pk}}/" class="list-group-item">{{category.title}}</a>
                    {% endfor %}
                    
                </div>    
        </div>
        <div class="col-md-9">
            <h3 class="page-header">
            {{course.name}} <span class="text-danger">( {{course.duration}} )</span>
            </h3>
            <table class="table table-bordered table-hover">
                <tr style="background-color: #E33622;color: white;">
                    <th>Sl.No</th>
                    <th>Subject Code</th>
                    <th>Subject Name</th>
                </tr>
                {% for course in course_details %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{course.subject_code}}</td>
                    <td>{{course.subject_name}}</td>
                </tr>
                {% endfor %}
            </table>    
            <a href="/course/list/{{course.category.pk}}/" class="pull-right">Back</a>
        </div>
    </div>
</div>
{% endblock %}