{% extends "base.html" %}
{% block content %}
    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('/static/img/covor_image_re.jpg');"></div>
                <div class="carousel-caption">
                   
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/static/img/smartindia_center_slide.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Smartindia Centers</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/static/img/skill_pgm_slide.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
	            <h2 class="page-header">Welcome to Smartindia Mission
	            	<span>
		            	<h4 class="pull-right">
		            		<i class="fa fa-phone"></i> <strong style="color: #E96C0B;">Toll Free:1800-123-2003</strong>
		            	</h4>
		            	<h4 class="pull-right">	
		                	<span>
			                	<ul class="list-unstyled list-inline list-social-icons">
				                    <li>
				                        <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
				                    </li>
				                    <li>
				                        <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
				                    </li>
				                    <li>
				                        <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
				                    </li>
		                		</ul>
		                	</span>	
		                </h4>
	                </span>		
	            </h2>
	            
	           
            </div>
        </div>    
        

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-primary text-center">
                    <div class="panel-heading">
                        <img src="/static/img/smartindia_center_icon.jpg" width="240px;" height="145px;">
                    </div>
                    <div class="panel-body">
                        <h4><strong>Smartindia Centers</strong></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-primary text-center">
                    <div class="panel-heading">
                        <img src="/static/img/vocational_edu.jpg" width="240px;" height="145px;">
                    </div>
                    <div class="panel-body">
                        <h4><strong>Vocational Education</strong></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-primary text-center">
                    <div class="panel-heading">
                        <img src="/static/img/skill_edu.jpg" width="240px;" height="145px;">
                    </div>
                    <div class="panel-body">
                        <h4><strong>Skill Education</strong></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-primary text-center">
                    <div class="panel-heading">
                        <img src="/static/img/online_edu.png" width="240px;" height="145px;">
                    </div>
                    <div class="panel-body">
                        <h4><strong>Online Education</strong></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

         <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Bharat Sevak Samaj (BSS)</h2>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="/static/img/bss.png" alt="">
            </div>
            <div class="col-md-6">
                <p style="text-align: justify;">Bharat Sevak Samaj is a mission and a movement. To succeed as such, it must win the adherence and support of a large and growing number of people in the country, that can come about only on the strengof a genuine understanding of the purpose and significance of the new organisation. To furnish an answer to the question: "Why Bhart Sevak Samaj"?, it shall restate the major assumption underlying the conception of the Samaj.

                <p style="text-align: justify;">First there is a great deal of necessary, good and useful work remain to be done in the aountry, for which no provision may be made, in the normal course, for many years. To accomplish this, special effort on a very large scale is needed, which is not yet in evidence. Scondly, the means for carrying out such a programme on a large scale are available in the shape of the unused time, energy and other resources, accompanied by the desire or urge on the part of may people to give for the service of the community. Thirdly, in view of the variety and magnitude of the activity, an organisation has to be built up, which has to be big and strong enough to cope with these great tasks. It should be capableof mobilizing the voluntary efforts of the people and make effective and fruitful use of it. Such organisation does not exist.</p>
                <a href="http://www.bharatsevaksamaj.org" target="_blank" class="pull-right">Read More</a>
            </div>
        </div>
        <!-- /.row -->
        <!-- Service List -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Smartindia Center</h2>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Career Training Provider</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Project Cell</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-support fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Startup India</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Digital India</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-bomb fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Jan Aushadi</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-bank fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Media School</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Skill India</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-space-shuttle fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Technical Training School</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-recycle fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Swachh Bharat Mission</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

       

    </div>
    {% endblock %}
    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
