{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <h3 class="page-header">
            Objectives
        </h3>
        <ul>
            <li>To create awareness camp for school students and enhance their knowledge on skill based education which can help in productive employment.</li>
            <li>To start initiatives in communicating and convincing individuals on the implementation of Smartindia Centers within their area by introducing Vocation / skill based programme and their advantages.</li>
            <li>Setting up of Smartindia Centers in each and every districts of Kerala / Indian to promote Vocational education programme.</li>
            <li>To monitor infrastructure facilities in each Smartindia centers as part of skill courses to be conducted.</li>
            <li>Smartindia Centres will provide career training to enhance their soft skills.</li>
            <li>Entrepreneurship Development Program will be initiated in all Smartindia Centres across the country.</li>
            <li>To track the response of students on acquiring skills and get their feedback on the Progress of their skill training.</li>
        </ul>
    </div>
</div>
{% endblock %}