{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <h3 class="page-header">
            Work Plan
        </h3>
        <ul>
            <li>Conducting awareness campaigns in each and every district to ensure maximum participation of students on skill training.</li>
            <li>To inspect and assess the current lab facilities and provide further technical support to Smartindia Centers.</li>
            <li>Monitor skill training in centers affiliated to Smartindia Mission.</li>
            <li>Provide certificates to students after successful completion of skill training.</li>
            <li>To create a database of the ongoing Vocational education programmes which are relevant to the industries.</li>
            <li>Entrepreneurship Development Program will be initiated at one centre and will be extended to other centres.</li>
        </ul>
        <br>
        <img src="/static/img/workplan_img.png">
    </div>
</div>
{% endblock %}